@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Oswald:wght@500&display=swap');


/* Container Jumbotron*/
.jumbotron {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    color: white;
    padding-left: 3em;
    margin-bottom: 5em;
  }
  
  /*Testo Jumbotron*/
  .jumbotron-text {
    z-index: 1;
  }
  
  /*Overlay scuro Jumbotron*/
  .jumbotron::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  h1 {
    font-size: 5em;
    font-family: 'Oswald', sans-serif;

  }

  h2, p {
    margin: 0;
    font-family: 'Barlow', sans-serif;
  }

  /*BUTTON */
  .jumbotron-button {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    margin-top: 1em;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 25px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: background-color 0.5s ease;
  }
  
  .jumbotron-button:hover {
    background-color: #ce0606;
  }

  /* SM (576px a salire) */
@media (min-width: 576px) and (max-width: 767px) {
    .jumbotron {
      padding-left: 2em;
    }
  
    h1 {
      font-size: 4em;
    }
  }
  
  /* XS (575px a scendere) */
  @media (max-width: 575px) {
    .jumbotron {
      padding-left: 1em;
    }
  
    h1 {
      font-size: 3em;
    }
  
    h2,
    p {
      font-size: 0.9em;
    }
  }