.searchBar {
    width: 50%;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
  
  .searchButton {
    background-color: #d31717;
    border-color: #ffffff;
    color: white;
  }
  
  .searchButton:hover {
    background-color: #8d0f0f;
    border-color: #ffffff;
  }

  @media (max-width: 768px) {
    .searchBar {
        width: 80%;
        margin-left: 2rem;
        margin-bottom: 1rem;
      }
  }